<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Записи</title><link rel="stylesheet" href="/css/style.css"></head>
<body>
<nav><b>Відеоархів</b><a href="/">Глоловна</a><a href="/records/new">Новий запис</a><a th:if="${isAdmin}" href="/users">Користувачі</a><a href="/change-password">Змініть пароль</a>
<form method="post" action="/logout">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"><button>Выйти</button></form></nav>
<div class="box wide">
<h1>Записи</h1>
<form method="get" class="search">
<input name="provider" placeholder="Кто дал файлы" th:value="${provider}">
<input name="company" placeholder="Фирма" th:value="${company}">
<input name="title" placeholder="Название" th:value="${title}">
<input type="date" name="date" th:value="${date}">
<button>Пошук</button><a class="button" href="/records">Очистити</a>
</form>
<table>
<thead><tr><th>Дата</th><th>Хто ндав файли</th><th>Фірма</th><th>Назва</th><th>Відео</th><th></th></tr></thead>
<tbody>
<tr th:each="r : ${records}">
<td th:text="${r.recordDate}"></td>
<td th:text="${r.fileProvider}"></td>
<td th:text="${r.companyName}"></td>
<td th:text="${r.title}"></td>
<td th:text="${#lists.size(r.videos)}"></td>
<td><a th:href="@{'/records/' + ${r.id}}">Открыть</a></td>
</tr>
</tbody>
</table>
<p th:if="${#lists.isEmpty(records)}">Запис не знайдено.</p>
</div>
</body>
</html>
